.counter_section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timer_hed{
    font-size: 32px;
    margin-bottom: 20px;
}

.timer_Sec{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    gap: 20px;
    margin-bottom: 20px;
}

.timer_Sec input{
    font-size: 24px;
    width: 50px;
    text-align: center;
    border: none;
}
.btn_Sec{
    display: flex;
    gap: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn_Sec button{
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 600;
}

.start {
    background-color: green;
    color: #fff;
}

.stop {
    background-color: red;
    color: #fff;
}

.reset {
    background-color: orange;
    color: #fff;
}