.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.parent{
    display: flex;
    gap:20px
}

.time{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:lightgray;
    position: absolute;
    z-index:1;
    top:20%;
    left: 25%;
    padding: 10px;
}


.employee_name{
    display: flex;
    width: 100%;
    gap:10px;
}

.employee_name .fieldVal{
    width:50%
}



.fieldVal{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.div_btn button{
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
}

.start{
    background-color: green;
}
.stop{
    background-color: red;
}
.reset{
    background-color: orange;
}

